.main {
  display: flex;
  order: 2;
  flex-direction: row;
  justify-content: space-around;
}

.two-columns {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-width: 90%;
}

.form {
  width: 90%;
  padding: 1.2%;
  font-size: 1.2em;
  text-align: left;
  font-family: "Press Start 2P";
  font-size: 0.7em;
  color: black;
}

/*  */
.form-group {
  margin-bottom: 1em;
  width: 100%;
}

.label-container {
  margin-bottom: 0.5em;
  width: 100%;
  font-family: "Press Start 2P";
  font-size: 1em;
}

.input-container {
  width: 100%;
  font-family: "Press Start 2P";
  font-size: 1em;
}

.input-container input {
  border: 0.1em solid #000000;
  border-radius: 0.2em;
  padding: 0.5em;
  width: 100%;
}

.button {
  width: 100%;
}

#sendbutton {
  cursor: pointer;
  border-radius: 0.7em;
  transition-duration: 0.4s;
  font-size: 0.7em;
  font-family: "Press Start 2P";
}

#sendbutton:hover {
  background-color: #4CAF50;
  color: white;
}

.table {
  width: 50%;
  padding: 2%;
  color: black;
  margin-right: 3em;
  border-collapse: collapse;
}

.table[data-animation=diagonal] .border-left {
  transform-origin: top left;
}

.table[data-animation=diagonal] .border-right,
.table[data-animation=diagonal] .border-bottom {
  transform-origin: bottom right;
}

.table[data-animation=diagonal] a:hover [class^=border] {
  transition-delay: 0s;
}

td, th {
  border: 0.1em solid #000000;
  padding: 0.2em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Press Start 2P";
  color: black;
}

tr {
  border: 0.1em solid #000000;
  width: 31%;
  padding: 0.2em;
  font-size: 0.7em;
  text-align: left;
  font-family: "Press Start 2P";
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-content: space-between;
}

.edit-button {
  width: 50%;
  height: 50%;
  color: #0044ff;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  margin-right: 0.5em;
  border-radius: 0.3em;
}

.delete-button {
  width: 50%;
  height: 50%;
  color: #ff0000;
  background: transparent;
  cursor: pointer;
  border-radius: 0.3em;
}
