.advisor-alert{

    width: 23em;
    align-content: center;
    position: absolute;
    transition: 0.5s;
    margin-top: -15em;

    
}


.advisor-altert.active{
    
    margin-top: -1em;
}


.advisor-success{
    
   border-radius: 0.5em;
   border-style: solid;
   text-align: center;
   left: 40em;
   position: relative;
   background: hsl(0, 0%, 100%);

    .svg{
        background: hsl(120, 79%, 54%);


    }
}

