
.filter-container{
    display: flex;
    flex-direction: column;
    width: 0%;
    height: 0%;
    overflow-x: hidden;

}

.filter-container active{

    width: 30%;

}

.filter-open-button{
    cursor: pointer;
    color:hsl(0, 0%, 0%);
    height: 2%;
    outline:none;
    padding: 0;
    border: none;
    background: none;
    width: 2%
    ;

}