@import url(https://fonts.googleapis.com/css?family=Lora);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


html, body, div,
h1, h2, h3, h4, h5, h6,
ul, li, ol, ul, p, img {
  margin:0;
  padding:0;
}

body {
  line-height: 1;
  font-size: 100%;
  font-family: 'Lora', serif;
  line-height: 1.65;
}

#masterHeader {
  font-family: 'Roboto', sans-serif;
  background: hsl(0, 86%, 66%);
  overflow: hidden;
  margin:0;
  padding:0;
  text-align: center;
  position: static;
  z-index: -1;
  
}

header a {
  color: #fff;
}

h1 {
  float: left;
  font-size: 1.25em;
  line-height: 3em;
  margin-left: 5%;
  text-transform: uppercase;
}
