
body{
    background:hsl(0, 0%, 100%);
}

.wrap{
    height: 100vh;

}




.main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 3%;
    position: relative;
    top: 5em;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
