body{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,93,92,1) 98%);
}

.main{
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
    justify-content: space-between;
    margin: 0 3%;
    overflow-x: auto; 
    position: relative;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
