.filter-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 10%;
}

.search-opener{
    visibility: hidden;
}

.search-opener .active{
    margin-top: 2em;
    width: 20%;

}

.search-button{
    cursor: pointer;
    border: none;
    background: none;

}


select{
width: 30%;
}
