.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:hsl(0, 86%, 66%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 2em;
    text-align:center;
}

.sidebar li{
    text-decoration: none;
    font-size: 2em;
    color: hsl(0, 0%, 0%);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar li:hover {
    color: hsl(204, 49%, 46%);
  
}


.sidebutton{
    cursor: pointer;
    color:hsl(0, 0%, 0%);
    width: 4%;
    outline:none;
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    z-index: 1000;

}

.sidebutton #hover{
    color:  hsl(0, 52%, 60%);

}


.sidebar.active{
    width: 20%;


}

