.table{
    color: rgb(0, 0, 0);
    border-collapse: collapse;
    table-layout:fixed;
    display: flex;
    flex-direction: column-reverse;
    width: 45%;
    height: 100%;
}

.table-info{
    overflow-wrap: break-word;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: hsl(0, 0%, 100%);
    word-break: break-all;
}

td ,th{
    border: 0.1em solid #000000;
    font-size: 1.2em; 
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    table-layout:fixed;
}

th{
    background-color: #62daca;

}

tr{
    border: 0.1em solid #000000;
    font-size: 1em; 
    text-align: left;
    font-family: 'Noto Sans TC', sans-serif;
    overflow-wrap: break-word;
    table-layout:fixed;
}


.crud-buttons{

    display: flex;
    flex-direction: row;
    width:100%;
    margin: auto;


    .edit-button {
        background-color: hsl(0, 0%, 100%);
        border:none;
        width:100%;
        svg{
            color: hsl(204, 100%, 50%);
            width: 1.3em;
            cursor:pointer;

        }
    }
    
         
    
    .delete-button{
        background-color: hsl(0, 0%, 100%);
        border: none;
        width: 100%;
        svg{
            color: hsl(0, 100%, 50%);
            width: 1.3em;
            cursor:pointer;

        }
    }
    

    
    

}

  