.tabs{
    background-color: hsl(0, 0%, 100%);
}

.tabs-container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
}

.tabs-container-menu{

    width: max-content;

    ul{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        margin: 0;
        padding: 0;
    }

    li{
        color: hsl(0, 0%, 0%);
        cursor: pointer;
        padding: 0.5em 0.5em;
        text-align: center;
    }

    li.tab-active{
        background-color: hsl(172, 62%, 62%) ;
        color: rgb(0, 0, 0);
    }
}

.tab-panel{
    display: none;
}

.tab-panel.tab-active{
    display: block;
}

.tab-language-panel{
    display: none;
}

.tab-language-panel.tab-translate-active{
    display: block;
}

.tabs-language-items{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 90%;
    margin: 1em;
}


.tabs-language-menu{

    width: max-content;

    ul{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        margin: 0;
        padding: 0;
    }

    li{
        color: hsl(0, 0%, 0%);
        cursor: pointer;
        padding: 0.5em 0.5em;
        text-align: center;
    }

    li.tab-translate-active{
        background-color: hsl(172, 62%, 62%) ;
        color: rgb(0, 0, 0);
    }
}