
.filter-container{
 
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    width: 0;
    position: absolute;
    top: 31em;
    left: 9em;
}

.filter-container.active{
    height: max-content;
    width: 20%;
    background: hsl(0, 0%, 100%);
    justify-content: center;
    border-style: solid;
    border-radius: 0.5em;
    z-index: 4;

}

.filter-open-button{
    cursor: pointer;
    color:hsl(0, 0%, 0%);
    height: 2%;
    outline:none;
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    top: 29em;
    left: 9em;
    z-index: 4;
}