
body{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,93,92,1) 98%);
    width: 100%;

}

.wrap{
    height: 100vh;

}

.main{
    justify-content: space-between;
    margin: 0 3%;
    position: relative;
    // top: 5em;
    // -webkit-overflow-scrolling: touch;
    // -ms-overflow-style: -ms-autohiding-scrollbar;
}
