.main{
    display:flex;
    order:  2;
    flex-direction: row;
    justify-content: space-around;

  
}


.two-columns{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    // padding: 3em;
    min-width: 90%;
    

}
