.table{
    // width: 50%;
    // padding:2%;
    // color: rgb(0, 0, 0);
    // margin-right: 3em;
    display: none;
    width: 100%;


}

#table.active{
    height: 100vh;
    display: initial;
    overflow: scroll;
}

.table-info{
    overflow-wrap: break-word;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: hsl(0, 0%, 100%);
    
}

td ,th{
    border: 0.1em solid hsl(0, 0%, 0%);
    padding: 0.2em;
    text-align: left;
    // text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Press Start 2P';
    // font-size: 0.7em;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    z-index: 5;
   
}


tr{
    border: 0.1em solid #000000;
    width: 31%;
    padding: 0.2em;
    font-size: 0.7em; 
    text-align: left;
    font-family: 'Press Start 2P';
    z-index: 5;
}


tr:hover{

    background-color: hsl(56, 82%, 63%)


}
.buttons{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 20%;
    cursor: pointer;
    justify-content: space-between;
}
 
.edit-button {
    width: 50%;
    color:#0044ff;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 0.5em;
    border: none;
    background: none;
}
     

.delete-button{
    width: 50%;
    color: #ff0000;
    cursor: pointer;
    border: none;
    background: none;
}

