
.coin-top{  

    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    width: 100%;

    .coin-1{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 1em;



        .coin-top-left{
            display: flex;
            flex-direction: row;

            .coin-logo-image{
                height: 1.5em;
            }
           
            .coin-title{
                height: 2em;
                font-size: 2em; 
                font-family: 'Ubuntu', sans-serif;
            }
        
            .symbol-coin{
                font-size: 1em;
            }
        
        
            .star {
                visibility:hidden;
                font-size:30px;
                cursor:pointer;
            }
            .star:before {
               content: "\2605";
               position: absolute;
               visibility:visible;
               color: hsl(59, 100%, 52%);
            }
            .star:checked:before {
               content: "\2606";
               position: absolute;
               color: black;  
            }
        
        }

        .coin-top-right{
            display: flex;

            .price-coin{
                position: relative;
                font-size: 2.5em;
                height: 1.5em;
                bottom: 0.2em;
                border-bottom: 1px solid rgb(0, 0, 0);
                font-family: 'Ubuntu', sans-serif;       
            }
        }
        
        
    }

}

.coin-middle{
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 100%;

        .coin-exchange{
            border: 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
                
            
                .coin-input{
                    border: none;
                    text-align: right;
                
                }
            
                .fiat-input{
                    border:none;
                    text-align: right;

                }

                .buy-coin{
                    text-align: center;
                    width: 30%;
                    content: center;
                    border: 1px solid;
                    cursor: pointer;
                }

                .coin{
                    display: none;
                }

                .coin.exchange-active{
                    display: block;
                }

                .exhange-active{
                    cursor: pointer;
                }
        }


    
        .statistisc{
             width: 25%;
            height: 60vh;


        
        .statistisc-box-tittle{
            border-bottom: 1px solid;
            font-family: 'Ubuntu', sans-serif;      
            text-align: center;
            font-size: 2em;
            
        
        }
    
        .statistisc-box{
            height: 7.3vh;
            border-bottom: 1px solid;
            font-family: 'Ubuntu', sans-serif;     
            text-align: center;
            
            .interior-statistisc-box{
                font-family: 'Ubuntu', sans-serif;   
                padding: 1em;

            }
    
        }
    }

    .graph{
        width: 75%;
        border-radius: 1px rgb(0, 0, 0);
    
        .line-chart {
            animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
            opacity: 0;
            max-width: 640px;
            width: 100%;
        }
        
        .aspect-ratio {
          height: 0;
          padding-bottom: 50%; // 495h / 990w
        }
        
        @keyframes fadeIn {
          to {
            opacity: 1;
          }
        }
    }
}





.coin-bottom{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    justify-content: space-between;

        .coin-description{
            font-family: 'Ubuntu', sans-serif;

        }



        

}




