.title{
    font-size: 2em;
    text-align: center;
}

.faqs{
    margin: 0 auto;
    width: 80%;
}

.faq{
    margin-bottom: 1em;
}

.faq-header{

    background-color: hsl(0, 0%, 93%);
    display: flex;
    justify-content: space-between; 
    padding: 0.5em 1em;
     
    .faq-title h3{
        color: hsl(0, 0%, 27%);
        font-size: 1.2em;
    }

    .faq-button{

        cursor: pointer;

        svg{
            height: 2.5em;
            width: 2.5em;
        }
    }

    .faq-button:hover svg{
        fill: hsl(0, 86%, 66%);
    }
}

.faq-description{
    font-size: 1em;
    max-height: 0;
    overflow: hidden;

    p{
        font-weight: 400;
        margin: 0.5em;
    }
}

.faq-description.active{
    background-color:hsla(177, 70%, 41%, 0.521); 
    max-height: 100vh;
    display: flex;
    flex-direction: row;

}


.description{
width: 60%;
    
}
    
.image-show{
width: 40%;

}
    
.image-show-single{
width: 40%;

}

.image-show-grid{
width: 10%;
display: flex;
flex: row;
    
}
