.login{
    padding: 2em;
    margin: auto;
    width: 20%;
}

.login-group{
    
    margin: auto;
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column;
}

.login-group.active {

    width: 100%;


}



.user-icon{

    width: 5em;
    margin: auto;
}



.button-group{
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;

}

.button-group #hover{
    opacity: 0.8;



}