.login{
    padding: 2em;
    margin: auto;
    width: 50%;
}

.login-group{
    
    margin: auto;
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column;

}

.user-icon{

    width: 5em;
    margin: auto;
}

.email-container{
    box-align: center;

}