@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html, body, div,
h1, h2, h3, h4, h5, h6,
ul, li, ol, ul, p, img {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-size: 100%;
  font-family: "Lora", serif;
  line-height: 1.65;
}

a {
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style: none;
}

#masterHeader {
  font-family: "Roboto", sans-serif;
  background: #f35e5e;
  overflow: hidden;
  transition: 0.4s;
  margin-top: -15.875em;
}

header a {
  color: #fff;
}

h1 {
  float: left;
  font-size: 1.25em;
  line-height: 3em;
  margin-left: 5%;
  text-transform: uppercase;
}

#menu {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyNnB4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAyNiAyMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjYgMjAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyNiIgaGVpZ2h0PSI0Ii8+PHJlY3QgeT0iOCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjI2IiBoZWlnaHQ9IjQiLz48cmVjdCB5PSIxNiIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjI2IiBoZWlnaHQ9IjQiLz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=);
  float: right;
  width: 1.625em;
  height: 1.25em;
  margin: 1.25em 5% 1.25em 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

nav {
  text-align: center;
  background: #323440;
}

nav ul li {
  border-bottom: 1px dashed #474a5a;
}

nav ul li:last-child {
  border: none;
}

nav ul a {
  display: block;
  padding: 0.75em 0;
  transition: 0.1s;
}

nav ul a:hover {
  background: #2a2c36;
}

.show {
  margin-top: 0 !important;
}

.title {
  font-size: 2em;
  text-align: center;
}

.faqs {
  margin: 0 auto;
  width: 80%;
}

.faq {
  margin-bottom: 1em;
}

.faq-header {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.faq-header .faq-title h3 {
  color: #454545;
  font-size: 1.2em;
}
.faq-header .faq-button {
  cursor: pointer;
}
.faq-header .faq-button svg {
  height: 2.5em;
  width: 2.5em;
}
.faq-header .faq-button:hover svg {
  fill: #f35e5e;
}

.faq-description {
  background-color: #ffc7c7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.faq-description p {
  font-size: 1em;
  margin: 1em;
}

.faq-description.active {
  max-height: 100vh;
}

.login {
  padding: 2em;
  margin: auto;
  width: 20%;
}

.login-group {
  margin: auto;
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
}

.login-group.active {
  width: 100%;
}

.user-icon {
  width: 30%;
  width: 5em;
  margin: auto;
}

.button-group {
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-group #hover {
  opacity: 0.8;
}
